$bg-main: #0c0d13;
$bg-light: #18191f;
$bg-light-2: #2a2c37;
$gray: #b6b6b8;
$primary: #f4d56f;
$primary-dark: #c8af5f;
$red: #ff4747;
$red-dark: #cc2727;
$red-light: #ff8a8a;
$green: #00f28e;
$green-dark: #05965a;
$green-light: #8affcf;
$accent-1-light: #fcd758;

$text-dark: #18191f;
$text-gold: #f4d56f;
$text-white: #ffffff;
$text-red: #ff4747;
$text-red-light: #ff8a8a;
$text-green: #00f28e;
$text-green-light: #8affcf;

$pop-up: rgba(255, 255, 255, 0.2);
